.home {
  width: 100%;
  display: flex;
}

.main-section {
  width: 73%;
  padding: 0 5rem;
}

.side-section {
  width: 27%;
}

.col {
  width: 47%;
  padding: 2rem;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  color: var(light-1);
  background-color: #ffffff22;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
}

// 1
.col-details {
  h1 {
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
  }
  h2 {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

// 2
.temp {
  & h1 {
    font-size: 2.8rem;
  }
  & h2 {
    font-weight: 500;
    font-size: 1.5rem;
  }
}

// 3

.info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  width: 28%;
  padding: 1.4rem 0;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);

  span {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--dark-1);
    letter-spacing: normal;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-1);
    margin-top: 0.2rem;
  }

  &:nth-child(1) * {
    color: var(--light-1);
  }
}

.col2 .progress-row {
  padding: 1.4rem 2.2rem;
  background: var(--light-1);
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);

  .progress {
    width: 100%;
    h3 {
      width: min-content;
      font-size: 1.4rem;
      color: var(--dark);
    }
  }

  .progress-bar {
    margin-top: 1.7rem;
    width: 100%;
    height: 7px;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);

    background-color: #00000022;

    .progress-bar-filled {
      position: absolute;
      top: 0;
      left: 0;
      width: 70%;
      height: 100%;

      background: salmon;
    }
  }
}
