.home {
  width: 70%;
}

.main-section {
  padding: 1rem 3rem;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-row .col {
  width: 48%;
  padding: 1rem;
  height: max-content;
  border-radius: 20px;
  background-image: url(https://img.freepik.com/premium-vector/tired-man-sitting-bench-eating-apple-relaxing-after-harvest-picking-vector-flat-illustration-male-agricultural-worker-resting-tree-garden-guy-autumn-seasonal-agriculture-work_198278-12354.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.top-row .col.col2 {
  background-image: url(https://img.freepik.com/premium-vector/panoramic-countryside-landscape-autumn-with-fallen-leaves-grass-vector-illustration_112545-674.jpg?size=626&ext=jpg&uid=R77242697&ga=GA1.2.1621808141.1660932467) !important;
}

.col-top {
  display: flex;
  align-items: center;
  margin-bottom: 2.2rem;
}

.col-top h1 {
  font-size: 1.2rem;
}
.col-top h2 {
  font-size: 1.2rem;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.weather-details .detail {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  width: 30%;
  padding: 1.6rem 0;
  border-radius: 20px;
}

.weather-details .detail span,
.weather-details .detail h2 {
  font-size: 1rem;
  color: #000;
}

.weather-details .detail:nth-child(1) span,
.weather-details .detail:nth-child(1) h2 {
  color: var(--light);
}

/* what */
