nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 3rem;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  margin-right: 0.6rem;
}

.profile h1 {
  font-size: 21px;
  font-weight: 300;
  color: var(--dark-gray);
}

.profile h2 {
  font-size: 23px;
  color: var(--secondary-color);
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  outline: none;
  border: none;
  background: var(--light);
  padding: 0.7rem 1.2rem;
  width: 250px;
  border-radius: 100px;
}

.search input::placeholder {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 12px;
}
