.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid green;
  width: 8%;
  height: 100vh;
  padding: 1rem 0.8rem;
}

.sidebar-links li .side-link {
  width: 30px;
}

.sidebar .top-logo {
  width: 250px;
  height: 30%;
}

.sidebar-top-logo img {
  width: 100%;
}

.sidebar-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 70%;
}

.side-link * {
  font-size: 22px;
  margin-top: 1.5rem;
  color: #5f6187;
}
