.app {
  display: flex;
  width: 100%;
  overflow: hidden;
}

:root {
  --primary-color: #f97f29;
  --secondary-color: #19283f;
  --dark-gray: #5f6187;
  --light: #f3f3f3;
  --dark: #333;
  --grey: #666;
}
